.App {
  text-align: center;
  margin: 2rem;
}

@import url(//db.onlinewebfonts.com/c/8f7b8dc753ec34b0c7c3d748a835c38c?family=Roboto);

body{
  font-family: 'Roboto' !important;
  background-color: black !important;
}
/* .section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
} */

table,
td {
  border: 1px solid rgb(212, 182, 182);
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

tbody {
  display: block;
  height: 300px;
  overflow: auto;
}

thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
/* thead { */
  /* width: calc( 100% - 1em )scrollbar is average 1em/16px width, remove it from thead width */
/* } */
table {
  width:900px;
}
.container {
  margin: 100px;
  display: flex; /* or inline-flex */
  justify-content: space-between;
}
